@import './tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arita-buri';
  src: url('/fonts/Arita-buriL.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
  font-family: 'PretendardB';
  src: url('/fonts/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Orbit';
  src: url('/fonts/Orbit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consola.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlex';
  src: url('/fonts/IBMPlexSansKR-Medium.ttf') format('truetype');
}

* {
  color: black;
  letter-spacing: 0.02em;
}

body {
  font-family: 'PretendardB', serif;

  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  overflow: scroll;
  line-height: 1.5;
}

code {
  color: #333;
  padding: 0.2rem 0.4rem;
}
.prose code::before,
.prose code::after {
  content: none !important;
}

pre,
code,
pre code,
pre span {
  font-family: 'Consolas', monospace;
  background-color: rgb(236, 236, 236) !important;
  color: #333 !important;
}

.linkButt {
  border: solid 1px black;
  padding: 0 10px 0 10px;
}

.prose a:hover {
  color: rgb(190, 190, 190);
}

.entry-row {
  @apply pl-2 flex justify-between items-center gap-4 py-2  border-gray-400;
}

.backBlack {
  @apply hover:text-white hover:bg-black;
}

.prose p,
.prose ul,
.prose ol,
.prose li {
  line-height: 1.8;
}

.prose p,
.prose ul,
.prose ol,
.prose li {
  font-family: Pretendard;
}
.prose h1,
h2,
h3 {
  font-family: PretendardB;
}

.Pretendard {
  font-family: Pretendard !important;
}
.Orbit {
  font-family: Orbit !important;
  letter-spacing: -0.2px;
}

.Arita-buri {
  font-family: Arita-buri !important;
}

.consolas {
  font-family: Consolas !important;
}

.PretendardB {
  font-family: PretendardB !important;
}
