@import './tailwind.css';

@font-face {
  font-family: 'ChosunGu';
  src: url('/fonts/ChosunGu.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ChosunGu', sans-serif;
  color: black;
}

body {
  background-color: rgb(247, 247, 247);
}

pre {
  padding: 1rem;
  overflow-x: auto;
  overflow: scroll;
  font-size: 0.9rem;
  line-height: 1.5;
}

code {
  color: #333;
  padding: 0.2rem 0.4rem;
}

pre,
code,
pre code,
pre span {
  font-family: 'Courier New', monospace;
  background-color: rgb(236, 236, 236) !important;
  color: #333 !important;
}

.linkButt {
  border: solid 1px black;
  padding: 0 10px 0 10px;
}

.prose p {
  font-size: 0.9rem;
}

.prose a:hover {
  color: rgb(137, 137, 137);
}

.headmenu {
}
