@import './tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arita-buri';
  src: url('/fonts/Arita-buriL.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Backslanted';
  src: url('/fonts/Backslanted-Regular-v02-Web.ttf') format('truetype');
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consola.ttf') format('truetype');
}

* {
  color: black;
  letter-spacing: 0.02em;
}

body {
  font-family: 'Pretendard', serif;

  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  overflow: scroll;
  line-height: 1.5;
}

code {
  color: #333;
  padding: 0.2rem 0.4rem;
}

pre,
code,
pre code,
pre span {
  font-family: 'Consolas', monospace;
  background-color: rgb(236, 236, 236) !important;
  color: #333 !important;
}

.linkButt {
  border: solid 1px black;
  padding: 0 10px 0 10px;
}

.prose a:hover {
  color: rgb(190, 190, 190);
}

.entry-row {
  @apply pl-2 flex justify-between items-center gap-4 py-2;
}

.prose p,
.prose ul,
.prose ol,
.prose li {
  line-height: 1.8;
}

.prose h1,
h2,
h3 {
  font-family: Arita-buri;
}

.Backslanted {
  font-family: Backslanted !important;
}
