---
import "../styles/global.css";
import MainLayout from "../layouts/main-layout.astro";
const pageTitle = "nosignificant";
//나중에 만들면 여기 제목 없애기
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <MainLayout pageTitle={pageTitle}>
      <div>
  안녕하세요. 뭐가 올라올지 모른다.
</div>
    </MainLayout>
  </body>
</html>