---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/home" />
  </head>
  <body>
    <p>Redirecting to <a href="/home">/home</a>...</p>
  </body>
</html>
