---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
const pageTitle = "nosignificant";
//나중에 만들면 여기 제목 없애기
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
<body class="flex justify-center">
<div class="w-full max-w-4xl px-[100px]">
          <div class="mt-[100px]"></div>  
          <a href="/">nosignificant</a>
          <main>
                  <div>
  안녕하세요. 뭐가 올라올지 모른다.
</div>
        <div class="flex flex-col">
  <div>
      <div>
    <a class="underline" href="/study"> 공부다. </a>
  </div>
    <a class="underline" href="/note"> 노트다. </a>
  </div>

  <div>
<a class="underline" href="/work"> 아마 작업물이다. </a>

  </div>
</div>
          </main>
<Footer />
      </div>
  </body>
</html>

