---
import MainLayout from '../../../layouts/main-layout.astro';
import SnakeGame from './snake-game';

const pageTitle = 'Snake Game';
---

<MainLayout pageTitle={pageTitle}>
  <div>
  <SnakeGame client:load />
</div>
</MainLayout>