---
import MainLayout from "../../../layouts/main-layout.astro";
import Notes from "./snake-game.md"; // ⬅️ mdx 설명 파일
import SnakeGame from "./SnakeGame"; // ⬅️ canvas / JS 결과물 래핑한 React 컴포넌트
const title = "Snake Game";
---

<MainLayout seo={{ title }}>
  <section class="max-w-content mx-auto py-8">
    <h1 class="text-2xl font-bold mb-2">{title}</h1>

    <div class="border rounded-lg overflow-hidden h-96 mb-10">
      <SnakeGame />
    </div>
    <article class="prose">
      <Notes />
    </article>
  </section>
</MainLayout>
