---
import MainLayout from "../../../layouts/main-layout.astro";
import Notes from "./snake-game.md"; 
import '../../../styles/global.css'
import SnakeGame from "./SnakeGame";
const pageTitle = 'snake game'
---

<MainLayout pageTitle={pageTitle}>
  <section class="p-0 m-0">
    <div class="flex lg:flex-row md:flex-col items-start gap-4">
      <div />      
        <SnakeGame ></div>
      <div class="max-w-2xl pl-[50px] m-0 p-0">
        <Notes />
      </div>
    </div>
  </section>
</MainLayout>
