---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
---

<div class="navigation flex flex-row mb-[100px] space-x-4">
    <a href="/" class={currentPath === '/' ? 'headmenu' : ''}>nosignificant</a>

    <a href="/study/" class={currentPath.startsWith('/study') ? 'headmenu' : ''}>study</a>

        <a href="/note/" class={currentPath.startsWith('/note') ? 'headmenu' : ''}>note</a>

   <a href="/work/" class={currentPath.startsWith('/work') ? 'headmenu' : ''}>work</a>
  </div>
</div>

