---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
---

<div class="flex flex-row mb-[100px] space-x-4">
  <div class="headmenu">
  <a href="/" class={currentPath === '/' ? 'headmenu' : ''}>nosignificant</a>
  </div>
  <div class="headmenu">
  <a href="/study/" class={currentPath.startsWith('/study') ? 'headmenu' : ''}>study</a>
  </div>
  <div class="headmenu">
      <a href="/note/" class={currentPath.startsWith('/note') ? 'headmenu' : ''}>note</a>
  </div>
  <div class="headmenu">
      <a href="/work/" class={currentPath.startsWith('/work') ? 'headmenu' : ''}>work</a>
  </div>
</div>

