---
import '../styles/global.css';
import { Menus } from '../lib/data/menus';
const currentPath = Astro.url.pathname;
---

<div class="flex flex-row justify-center">
  {
    Menus.map((menu) => (
      <div class="pr-4">
        <div
          class={
            currentPath.startsWith(menu.url)
              ? 'headmenu'
              : ' text-gray-400 hover:text-gray-700'
          }
        >
          <a href={menu.url}>{menu.name}</a>
        </div>
      </div>
    ))
  }
</div>
