---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
---

<div class="flex flex-row mb-[50px] space-x-4">
  <div class="hover:bg-gray-200">
  <a href="/" class={currentPath === '/' ? 'underline' : ''}>nosignificant</a>
  </div>
  <div class="hover:bg-gray-200">
  <a href="/study/" class={currentPath.startsWith('/study') ? 'underline' : ''}>study</a>
  </div>
  <div class="hover:bg-gray-200">
      <a href="/note/" class={currentPath.startsWith('/note') ? 'underline' : ''}>note</a>
  </div>
  <div class="hover:bg-gray-200">
      <a href="/work/" class={currentPath.startsWith('/work') ? 'underline' : ''}>work</a>
  </div>
</div>

