---
import '../styles/global.css';
import { Menus } from '../lib/data/menus';
const currentPath = Astro.url.pathname;
---

<div class="flex flex-row">
  {
    Menus.map((menu) => (
      <div class="pr-4">
        <div
          class={
            currentPath.startsWith(menu.url)
              ? 'headmenu '
              : 'group text-gray-400 '
          }
        >
          <a href={menu.url}>
            {menu.name}{' '}
            {currentPath === menu.url && <div>{menu.description}</div>}
            {currentPath !== menu.url && (
              <div class="fade-in w-20 group-hover:w-full group-hover:text-gray-400  group-hover:fade-in-active">
                {menu.description}
              </div>
            )}
          </a>
        </div>
      </div>
    ))
  }
</div>
