---
import { format } from 'date-fns';
import MainLayout from "../../layouts/main-layout.astro";

const pageTitle = 'work';
---

<MainLayout pageTitle={pageTitle}>
    <div>만드는중. 하하</div>
</MainLayout>
