---
import { format } from 'date-fns';
import MainLayout from "../../layouts/main-layout.astro";

const pageTitle = 'work';
const description = '뭘까? 뭐든 올라옵니다';
---

<MainLayout pageTitle={pageTitle} description={description}>
    <div>만드는중</div>
</MainLayout>
