---
import PostLayout from "../../layouts/post-layout.astro";
export async function getStaticPaths() {
  const modules = import.meta.glob("../../content/note/**/*.md", {
    eager: true,
  });
  return Object.entries(modules).map(([path, module]: [string, any]) => {
    const slug = path.replace("../../content/note/", "").replace(/\.md$/, "");

    console.log(slug);

    return {
      params: { slug },
      props: {
        title: module.frontmatter.title,
        Content: module.default,
      },
    };
  });
}

const { title, Content } = Astro.props;
---

<PostLayout>
  <h1>{title}</h1>
  <Content />
</PostLayout>
