---
import MainLayout from '../../layouts/main-layout.astro';
import { notePosts } from '../../lib/utils/note-post';
import '../../styles/global.css';
import Filter from '../../components/note/Filter';
---

<MainLayout pageTitle={'note'}>
  <div class="flex flex-col">
    <Filter client:load />
  </div>
</MainLayout>
