---
import MainLayout from '../../layouts/main-layout.astro';
import { notePosts } from '../../lib/utils/note-post';

const posts = notePosts();
---

<MainLayout>
  <div class="flex flex-col divide-y">
    {
      posts.map(({ url, title, date }) => (
        <div class="flex justify-between items-center gap-4 py-2 hover:bg-gray-100">
          <a href={url} class="flex-1 truncate">
            {title}
          </a>
          <div class="text-sm text-gray-500 w-1/5 hidden sm:block">{date}</div>
        </div>
      ))
    }
  </div>
</MainLayout>
