---
import MainLayout from '../../layouts/main-layout.astro';
import { notePosts } from '../../lib/utils/note-post';
import '../../styles/global.css';
import Filter from '../../components/Filter';
const posts = notePosts().posts;
---

<MainLayout>
  <div class="flex flex-col divide-y">
    <Filter client:load />
  </div>
</MainLayout>
