---
import MainLayout from '../../layouts/main-layout.astro';
import FooterNavi from '../../components/FooterNavi.astro';
import PageLayout from '../../layouts/page-layout.astro';
export async function getStaticPaths() {
  const modules = import.meta.glob('../../content/study/**/*.md', {
    eager: true,
  });
  return Object.entries(modules).map(([path, module]: [string, any]) => {
    const slug = path.replace('../../content/study/', '').replace(/\.md$/, '');
    return {
      params: { slug },
      props: {
        title: slug,
        Content: module.default,
        description: module.frontmatter.description,
      },
    };
  });
}
const { title, Content, description } = Astro.props;
---

<PageLayout pageTitle={title} description={description}>
  <article class="prose max-w-none">
    <Content />
  </article>
  <div class="mt-[100px]"></div>

  <FooterNavi />
</PageLayout>
