---
import MainLayout from "../../layouts/main-layout.astro";
const pageTitle = 'study';
const posts = Object.keys(
  import.meta.glob("./*/index.astro", { eager: true })
).map((path: string) => {
  const slug = path.replace("./", "").replace("/index.astro", "");
  return {
    title: slug,
    url: `/study/${slug}`,
  };
});
---

<MainLayout pageTitle={pageTitle}>
  <ul class="space-y-2">
    {
      posts.map(({ url, title }) => (
        <li>
          <a href={url}>{title}</a>
        </li>
      ))
    }
  </ul>
</MainLayout>