---
import Navigation from '../components/Navigation';
import { Menus } from '../lib/data/menus';

import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

const { pageTitle, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body class="w-full flex items-center flex-col">
    <div class="mt-[100px]"></div>
    <div class="sm:w-[700px] w-[300px] w-full flex-col px-[30px]">
      <h1 class="text-3xl mb-4">{pageTitle}</h1>
      <Navigation client:load currentPath={currentPath} Menus={Menus} />
      <div class="w-full text-sm">
        <main>
          <slot />
        </main>

        <Footer />
      </div>
    </div>
  </body>
</html>
